* {
    box-sizing: border-box;
}

.credit-calc {
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;

    border: 2px solid var(--light-secondary-color);
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    width: 100%;

    container-type: inline-size;
}

*[class^="credit-input-"] {
    display: flex;
    align-items: stretch;
}
  
.credit-input {
    padding: 18px 24px;
    border-radius: 15px;
    background-color: var(--light-secondary-color);
    width: 100%;
    margin: 10px 2px;
}

.credit-input:has(input:focus), .credit-input:has(select:focus){
    outline: var(--calc-color) 1.5px solid ;
}

.credit-input label {
    display: block;
    font-size: 12px;
    color: var(--muted-color);
}

.credit-input input, .credit-input select {
    border: none !important;
    background-color: transparent;
    width: 100%;
    outline: none !important;
    height: 100%;
    font-size: 20px;
}


.payment-type .label {
    margin: 20px 10px 0px 10px;
    color: #999999;
}

.payment-type-toggle {
    padding: 6px 8px;
    border-radius: 15px;
    background-color: var(--light-secondary-color);
    width: 100%;
    margin: 10px 2px;
    display: flex;
}

.payment-type-toggle > div {
    text-align: center;
    padding: 12px 0;
    border-radius: 8px;
    width: 50%;
    align-self: center;
    overflow: hidden;
}
.payment-type-toggle > div.active {
    background-color: #fbfbfb;
}

div.calculate {
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
}

.credit-calc button.calculate {
    display: block;
    background-color: var(--calc-color);
    padding: 20px 30px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s all ease;
}
button.calculate:hover {
    background-color: var(--secondary-calc-color);
}
button.calculate:active {
    background-color: var(--calc-color);
}

.calc-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.calc-modal-content {
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: var(--light-color);
    margin: auto;
    padding: 40px;
    border-radius: 25px;
    width: 80%;
}
  
  /* The Close Button */
.calc-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.calc-modal-title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}
  
.calc-modal-close:hover,
.calc-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.calc-modal-results {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.calc-modal-results > div > div:first-child {
    font-size: 16px;
    color: var(--muted-color);
}
.calc-modal-results > div > div:last-child {
    font-size: 28px;
}

.calc-modal button.downloadPDF {
    display: block;
    background-color: var(--calc-color);
    padding: 20px 30px;
    border: none;
    outline: none;
    color: var(--light-color);
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
button.downloadPDF:hover {
    background-color: var(--secondary-calc-color);
}
button.downloadPDF:active {
    background-color: var(--calc-color);
}


.modal-table {
    width: 650px;
    min-width: 100%;
}
.table__row {
    display: flex;
    justify-content: space-between;
}


.table-container{
    overflow-x: scroll;
}
.table__cell {
    width: 20%;
    padding: 5px;
    text-align: right;
}
.table__row > div:first-child {
    text-align: left;
}
.calc-modal .table__header {
    background-color: var(--calc-color);
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    color: var(--light-color);
}
.calc-modal .table__body {
    overflow-y: scroll;
    max-height: 60vh;
    padding-inline: 20px;
}
.calc-modal .table__body .table__row {
    padding-block: 10px;
    border-bottom: 1.5px solid var(--light-secondary-color);
}

@container (max-width: 568px) {
    .credit-input {
        padding: 12px 18px;
    }
}

@media (max-width: 768px) {
    .calc-modal {
        padding-top: 20px;
    }
    .calc-modal-content {
        width: 95%;
        padding: 20px;
    }
    .calc-modal button.downloadPDF {
        font-size: 12px;
        padding: 10px 15px;
    }
    .calc-modal-title {
        font-size: 18px;
    }
    .calc-modal-results > div > div:first-child {
        font-size: 12px;
    }
    .calc-modal-results > div > div:last-child {
        font-size: 18px;
    }
}


@media (max-width: 425px) {
    .calc-modal {
        padding-top: 10px;
    }
    .calc-modal-content {
        width: 95%;
        padding: 15px;
    }
    .calc-modal button.downloadPDF {
        font-size: 12px;
        padding: 8px 12px;
    }
    .calc-modal-title {
        font-size: 14px;
    }
    .calc-modal-results > div > div:first-child {
        font-size: 9px;
    }
    .calc-modal-results > div > div:last-child {
        font-size: 12px;
    }
    .calc-modal button.downloadPDF {
        font-size: 8px;
        padding: 8px 12px;
    }
}
